{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block header %}
{% translate "Atricle" %}
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content|slice:":200" }}</p>

    <h2>Комментарии:</h2>
    <ul>
      {% for comment in comments %}
        <li>{{ comment.content }}</li>
      {% empty %}
        <li>Комментариев пока нет.</li>
      {% endfor %}
    </ul>
    
    <h3>Оставить комментарий</h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form show_label=False %}
        {% buttons %}
        <input class="btn btn-primary" type="submit" value="{% block button_value %}{% translate "Update" %}{% endblock %}">
        {% endbuttons %}
    </form>
{% endblock %}
